/* styles.css */
body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: #000;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none; /* prevents text highlighting */
}

h1 {
  color: white;
  font-size: 12vw; /* increased from 10vw to 18vw */
  letter-spacing: 0.2em;
  text-transform: uppercase;
  margin: 0;
}
